@page "/User"
@using virtualmuseum.web.api.Services
@using virtualmuseum.web.api.Services.Admin
@rendermode InteractiveServer
@inject IUserRoleService UserRoleService
@inject ICustomRoleService CustomRoleService
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize]

<h3>Benutzerverwaltung!</h3>

@if (!CustomRoleService.HasRole("Administrator"))
{
    <div class="rounded-2 alert-danger p-3 mt-5 mb-5" style="border: gray 1px solid;">
        <h4>Access Denied</h4>
        <p>&nbsp;</p>
        <p>Sorry, you are not authorized to access this page.</p>
    </div>
}
else
{

    <table class="table">
        <thead>
        <tr>
            <th>Benutzer-ID</th>
            <th>Benutzername</th>
            <th>Rolle</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in _users)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Username</td>
                <td>
                    <select @onchange="@(e => UpdateUserRole(user.UserId, e.Value.ToString()))">
                        <option value="Unauthorized" selected="@(user.Role == "Unauthorized")">Unauthorized</option>
                        <option value="Contributor" selected="@(user.Role == "Contributor")">Contributor</option>
                        <option value="Administrator" selected="@(user.Role == "Administrator")">Administrator</option>
                    </select>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<UserRole> _users = new List<UserRole>();

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    private async Task LoadUsers()
    {
        _users = await UserRoleService.GetAllUserRolesAsync();
    }

    private async Task UpdateUserRole(string userId, string newRole)
    {
        await UserRoleService.SetUserRoleAsync(userId, newRole);
        await LoadUsers();
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}